{{ template "header.html" .}}


{{range.payload}}
<div class="container pt-5">
  <div class="card">
    <div class="card-header">
      <h3>Username: @{{.Username}}</h3>
      <p>Blog_id: {{.Blog_id}} </p>
    </div>
    <div class="card-body">
      <h5 class="card-title">{{ .Title}} </h5>
      <p class="card-text">{{ .Content}}</p>
      <td><a href="/article/update?blog_id={{.Blog_id}}">Edit</a></td>
      <td><a href="/article/delete?blog_id={{.Blog_id}}">Delete</a></td>



    </div>
  </div>
</div>

<br>
<hr>




{{end}}

{{ template "footer.html" .}}