{{ template "header.html" .}}


{{range.payload}}
<div class="container pt-5">
  <div class="card">
    <div class="card-header">
      <p>Username: <b>{{.Username}}</b></p>
      <h5 class="card-title">Title: {{ .Title}} </h5>
    </div>

    <div class="card-body">
      <b>
        <pre class="card-text ">{{ .Content}} </pre>
      </b>
      <td><a type="button" class="btn btn-primary"
          href="/article/update?blog_id={{.Blog_id}}&title={{.Title}}&content={{.Content}}">Edit</a></td>
      <a class="btn btn-primary" href="/article/delete?blog_id={{.Blog_id}}&title={{.Title}}&content={{.Content}}"
        onclick="return confirm('Are you sure you want to delete this article')">Delete</a>

    </div>
  </div>
</div>

<br>
<hr>
{{end}}


{{ template "footer.html" .}}
