<!--menu.html-->
<nav class="nav justify-content-end bg-primary">
 
  <a class="btn btn-primary" href="/">Home</a>
  
    {{ if .is_logged_in }}
      <li><a href="/article/create" class="btn btn-primary" >Create Article</a></li>
    {{end}} 
    {{ if not .is_logged_in }}
      <li><a href="/u/signup" class="btn btn-primary" >Signup</a></li>
    {{end}} 
    {{ if not .is_logged_in }}
      <li><a href="/u/login" class="btn btn-primary" >Login</a></li>
    {{end}} 
    {{ if .is_logged_in }}
      <li><a href="/u/logout" class="btn btn-primary" >Logout</a></li>
    {{end}}
  
 
</nav>
