{{ template "header.html" .}}



<div class="container pt-3">
    <div class="p-3 mb-2 bg-light text-dark " style="min-height:500px">

        <h2>{{.para}}</h2>
        <form method="POST" action="/article/update">

            <label class="form-label"> Title </label>
            <input type="text" class="form-control" name="title" value="" required/><br />

            <textarea name="content" class="form-control" rows="10" id="content"  placeholder="Article Content" required></textarea>

            <input type="submit" class="btn btn-info mt-3" value="update " />

        </form><br />

    </div>
</div>

{{ template "footer.html" .}}