{{ template "header.html" .}}

{{.para}}
{{.data}}
<div class="container pt-3">
    <div class="p-3 mb-2 bg-light text-dark " style="min-height:500px">


        <form method="POST" action="/article/update?blog_id={{.Blog_id}}">

            <label class="form-label"> Blog id </label>


            <input type="text" class="form-control" name="blog_id" id="demo" value="{{.blog}}"  /><br />

            <label class="form-label"> Title </label>
            <input type="text" class="form-control" name="title" value="{{.Title}}" required /><br />

            <textarea name="content" class="form-control" rows="10" id="content" value="{{.Content}}"
                required></textarea>

            <input type="submit" class="btn btn-info mt-3" value="update " />

        </form><br />

    </div>
</div>

<p  id="demo"></p>
<script>
    window.onload = function () {
        try {
            var url_string = (window.location.href).toLowerCase();
            var url = new URL(url_string);
            var blog_id = url.searchParams.get("blog_id");
            console.log('blog_id',blog_id);
            document.getElementById("demo").innerHTML = blog_id;
        } catch (err) {
            console.log("Issues with Parsing URL Parameter's - " + err);
        }
}
</script>
{{ template "footer.html" .}}